body {
  color: white;
  background-color: gray;
}

img {
  border-radius: 50%
}

.open {
  text-align: center;
}

.row1 li {
  display: inline-block;
  text-align: center;
  margin-left: 125px;
}

.row2 li {
  display: inline-block;
  text-align: center;
}

.row3 li {
  display: inline-block;
  text-align: center;
}

.row4 li {
  display: inline-block;
  text-align: center;
}
